<a href="/robots">Back to Robot Roster</a>

<h1>Meet <%= @robot.name %>!</h1>
<p>From <%= @robot.city %>, <%= @robot.state %></p>
<p>Birthdate: <%= @robot.birthdate %></p>
<p>Works in <%= @robot.department %></p>
<p>Hired on <%= @robot.date_hired %></p>
